:root {
    line-height: 1.5;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  .steering-wheel{
    width: 80px;
    height: 80px;
  }